
#hero-bg{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px;
}

#mic{
    margin: 0 auto;
}

#hero-bg1{
    background-image: url(assets/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    size: 50%;
    position: relative;
    padding-top: 30px;
}

.timer{
    color: chartreuse;
}

.grid {
  padding-top: 4rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.grid-title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.grid-card {
  text-align: left;
  background-color: #070a36;
  border-radius: 3rem;
  padding: 4rem 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.grid-card:first-child {
  grid-row: 1/3;
}
.grid-card:nth-child(2) {
  grid-column: 2/-1;
}
.grid-card:nth-child(3) {
  grid-column: 2/-1;
}
.grid-card:nth-child(4) {
  grid-column: 1/3;
}

.grid-card p {
  font-size: 1rem;
  color: white;
}